<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
    <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
        </dict>
        <key>bodies</key>
		<dict>

			<key>ba_0</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.50000,0.50000 }</string>
                <key>fixtures</key>
                <array>

					<dict>
                        <key>mass</key>
                        <real>2</real>
                        <key>elasticity</key>
                        <real>0</real>
                        <key>friction</key>
                        <real>0</real>
                        <key>surface_velocity</key>
                        <string>{ 0.00000,0.00000 }</string>
                        <key>layers</key>
                        <integer>0</integer>
                        <key>group</key>
                        <integer>0</integer>
                        <key>collision_type</key>
                        <integer>0</integer>
                        <key>isSensor</key>
                        <false/>
                        <key>fixture_type</key>
                        <key>POLYGON</key>
                        
						<key>polygons</key>
						<array>
							<array>	
								<string>{ -61.00000,2.50000 }</string>	
								<string>{ -57.00000,8.50000 }</string>	
								<string>{ -55.00000,3.50000 }</string>	
								<string>{ -61.00000,-2.50000 }</string>
							</array>
							<array>	
								<string>{ -5.00000,-18.50000 }</string>	
								<string>{ -8.00000,-15.50000 }</string>	
								<string>{ -8.00000,-13.50000 }</string>	
								<string>{ -1.00000,-15.50000 }</string>	
								<string>{ -2.00000,-18.50000 }</string>
							</array>
							<array>	
								<string>{ 43.00000,-14.50000 }</string>	
								<string>{ 34.00000,-13.50000 }</string>	
								<string>{ 40.00000,-12.50000 }</string>	
								<string>{ 43.00000,-12.50000 }</string>
							</array>
							<array>	
								<string>{ -61.00000,12.50000 }</string>	
								<string>{ -56.00000,17.50000 }</string>	
								<string>{ -35.00000,9.50000 }</string>	
								<string>{ -46.00000,8.50000 }</string>	
								<string>{ -57.00000,8.50000 }</string>	
								<string>{ -61.00000,9.50000 }</string>
							</array>
							<array>	
								<string>{ 8.00000,-22.50000 }</string>	
								<string>{ 6.00000,-18.50000 }</string>	
								<string>{ 11.00000,-20.50000 }</string>	
								<string>{ 10.00000,-22.50000 }</string>
							</array>
							<array>	
								<string>{ 3.00000,-20.50000 }</string>	
								<string>{ -1.00000,-15.50000 }</string>	
								<string>{ 6.00000,-18.50000 }</string>	
								<string>{ 5.00000,-20.50000 }</string>
							</array>
							<array>	
								<string>{ -20.00000,-6.50000 }</string>	
								<string>{ -19.00000,0.50000 }</string>	
								<string>{ -17.00000,-4.50000 }</string>	
								<string>{ -18.00000,-6.50000 }</string>
							</array>
							<array>	
								<string>{ 14.00000,-13.50000 }</string>	
								<string>{ -19.00000,0.50000 }</string>	
								<string>{ -35.00000,9.50000 }</string>	
								<string>{ 25.00000,7.50000 }</string>	
								<string>{ 27.00000,1.50000 }</string>	
								<string>{ 19.00000,-12.50000 }</string>	
								<string>{ 17.00000,-14.50000 }</string>
							</array>
							<array>	
								<string>{ -57.00000,8.50000 }</string>	
								<string>{ -46.00000,8.50000 }</string>	
								<string>{ -55.00000,3.50000 }</string>
							</array>
							<array>	
								<string>{ 13.00000,-24.50000 }</string>	
								<string>{ 11.00000,-20.50000 }</string>	
								<string>{ 14.00000,-17.50000 }</string>	
								<string>{ 18.00000,-25.50000 }</string>	
								<string>{ 18.00000,-28.50000 }</string>
							</array>
							<array>	
								<string>{ -1.00000,-15.50000 }</string>	
								<string>{ -13.00000,-7.50000 }</string>	
								<string>{ -17.00000,-4.50000 }</string>	
								<string>{ -19.00000,0.50000 }</string>	
								<string>{ 14.00000,-13.50000 }</string>	
								<string>{ 14.00000,-17.50000 }</string>	
								<string>{ 11.00000,-20.50000 }</string>
							</array>
							<array>	
								<string>{ 56.00000,3.50000 }</string>	
								<string>{ 56.00000,14.50000 }</string>	
								<string>{ 62.00000,8.50000 }</string>	
								<string>{ 61.00000,3.50000 }</string>	
								<string>{ 57.00000,1.50000 }</string>
							</array>
							<array>	
								<string>{ 50.00000,6.50000 }</string>	
								<string>{ 56.00000,14.50000 }</string>	
								<string>{ 56.00000,3.50000 }</string>
							</array>
							<array>	
								<string>{ -11.00000,-16.50000 }</string>	
								<string>{ -13.00000,-12.50000 }</string>	
								<string>{ -13.00000,-7.50000 }</string>	
								<string>{ -8.00000,-13.50000 }</string>	
								<string>{ -9.00000,-16.50000 }</string>
							</array>
							<array>	
								<string>{ -45.00000,22.50000 }</string>	
								<string>{ -41.00000,21.50000 }</string>	
								<string>{ -38.00000,18.50000 }</string>	
								<string>{ -54.00000,17.50000 }</string>	
								<string>{ -54.00000,21.50000 }</string>
							</array>
							<array>	
								<string>{ 38.00000,5.50000 }</string>	
								<string>{ 34.00000,6.50000 }</string>	
								<string>{ 31.00000,9.50000 }</string>	
								<string>{ 31.00000,11.50000 }</string>	
								<string>{ 53.00000,24.50000 }</string>	
								<string>{ 56.00000,24.50000 }</string>	
								<string>{ 56.00000,14.50000 }</string>	
								<string>{ 50.00000,6.50000 }</string>
							</array>
							<array>	
								<string>{ -16.00000,-13.50000 }</string>	
								<string>{ -17.00000,-4.50000 }</string>	
								<string>{ -13.00000,-7.50000 }</string>	
								<string>{ -14.00000,-13.50000 }</string>
							</array>
							<array>	
								<string>{ -13.00000,-7.50000 }</string>	
								<string>{ -1.00000,-15.50000 }</string>	
								<string>{ -8.00000,-13.50000 }</string>
							</array>
							<array>	
								<string>{ 34.00000,-13.50000 }</string>	
								<string>{ 19.00000,-12.50000 }</string>	
								<string>{ 34.00000,-8.50000 }</string>	
								<string>{ 36.00000,-8.50000 }</string>	
								<string>{ 40.00000,-12.50000 }</string>
							</array>
							<array>	
								<string>{ 19.00000,-12.50000 }</string>	
								<string>{ 34.00000,-13.50000 }</string>	
								<string>{ 35.00000,-15.50000 }</string>	
								<string>{ 22.00000,-15.50000 }</string>
							</array>
							<array>	
								<string>{ 35.00000,28.50000 }</string>	
								<string>{ 49.00000,27.50000 }</string>	
								<string>{ 53.00000,24.50000 }</string>	
								<string>{ 31.00000,11.50000 }</string>	
								<string>{ 21.00000,24.50000 }</string>	
								<string>{ 27.00000,27.50000 }</string>
							</array>
							<array>	
								<string>{ 21.00000,24.50000 }</string>	
								<string>{ 31.00000,11.50000 }</string>	
								<string>{ 2.00000,22.50000 }</string>	
								<string>{ 14.00000,25.50000 }</string>
							</array>
							<array>	
								<string>{ -35.00000,9.50000 }</string>	
								<string>{ -19.00000,0.50000 }</string>	
								<string>{ -29.00000,4.50000 }</string>
							</array>
							<array>	
								<string>{ 19.00000,-12.50000 }</string>	
								<string>{ 27.00000,1.50000 }</string>	
								<string>{ 34.00000,-6.50000 }</string>	
								<string>{ 34.00000,-8.50000 }</string>
							</array>
							<array>	
								<string>{ -56.00000,17.50000 }</string>	
								<string>{ -54.00000,17.50000 }</string>	
								<string>{ 28.00000,11.50000 }</string>	
								<string>{ 25.00000,7.50000 }</string>	
								<string>{ -35.00000,9.50000 }</string>
							</array>
							<array>	
								<string>{ 2.00000,22.50000 }</string>	
								<string>{ 31.00000,11.50000 }</string>	
								<string>{ -31.00000,17.50000 }</string>	
								<string>{ -9.00000,22.50000 }</string>
							</array>
							<array>	
								<string>{ -31.00000,17.50000 }</string>	
								<string>{ -54.00000,17.50000 }</string>	
								<string>{ -38.00000,18.50000 }</string>
							</array>
							<array>	
								<string>{ 31.00000,11.50000 }</string>	
								<string>{ 28.00000,11.50000 }</string>	
								<string>{ -54.00000,17.50000 }</string>	
								<string>{ -31.00000,17.50000 }</string>
							</array>
						</array>
                        
					</dict>

				</array>
			</dict>

		</dict>
	</dict>
</plist>




